<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <p>      
        <% if (currentUser) {%>
            Hello, <%=currentUser.local.username%>
        <% } %>
      
     </p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a class="navbar-brand" href="/">
        <img src="/images/balooon.png">
      </a>
      <ul class="nav navbar-nav">
      	<li>
          <% if (currentUser) {%>
              <a href= '/logout'> Logout </a>
          <% } %>
        </li>
            <li><a href="#">About HottSpot</a></li>
            <li><a href="#">Our API</a></li>
            <li role="separator" class="divider"></li>
            	<li><a href="#" class="bg">contact meh</a></li>
          </ul>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>