<!DOCTYPE html>
<html>
<head>
	<title>Sample Project</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
	<% include ./partials/nav %>
	<div class="container-fluid">
		<header>
			<% include ./partials/header %>
		</header>
			<div class="container centered bodyBlock">

				<div class="row">
				  <div class="col-sm-12 col-md-12">
				    <h5>Find the best deal on flights to a hotter spot:</h5>
				  </div>
				  	<div class="row">
					  <div class="form-group col-xs-12">
					 	<button class="btn btn-warning btn-lg">Go!</button>
					  </div>
					</div>
				</div>

			<div class="row">
			</div>
		</div>

		<footer>
			
		</footer>
	</div>

	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script type="text/javascript" src="../scripts/client.js"></script>

</body>
</html>