<!DOCTYPE html>
<html>
<head>
	<title>Sample Project</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">[IMG]</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li><a href="#">Informations</a></li>
	     
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">links</a></li>
	            <li><a href="#">to</a></li>
	            <li><a href="#">APIs</a></li>
	            <li role="separator" class="divider"></li>
	            	<li><a href="#" class="bg-info">contact meh</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="container mainTitle">
			<div class="page-header">
				<h1>HOTT3R SPOT</h1>
				<div>
					<h1><small>Get warm this weekend</small></h1>
				</div>
			</div>
		</div>
		<div class="container mainTitle">
				<div>
					<p>Ancient alien sun disc earth mound sky people ancient religions, Machu Picchu alien Nazca lines vimana portal Nazca lines Mahabharata. Legendary times mystery stonehenge star people portal mainstream archaelogy, ancient god mystery elongated skull the vedas, anti-gravity Giorgio space brothers. The answer is a resounding YES... Cover up, pyramids.i</p>
				</div>
			</div>
			<div class = "row">
			</div>
			<div class = "row">
			</div>
			<div class = "row">
				<div class = "mainTitle col-xs-6">
					<button class="btn btn-success btn-lg">Cheaper</button>
				</div>
				<div class = "mainTitle col-xs-6">
					<button class="btn btn-danger btn-lg">Warmer</button>
				</div>
					
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>