.container-fluid {
	padding: 0;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	text-align: center;
}

.navbar p {
	margin-top: 15px;
	color: #ec971f;
	display: inline-block;
}

.navbar-brand{
	padding:3px;
	margin: 0 auto;
}

.navbar-brand>img{
	height: 100%;
	width: auto;
	margin: 0 auto;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #EC971F;
}
.centered {
	text-align: center;
	width: 100%;
}

.titleBlock {
	background-image: url('../images/hotspot.jpg');
	background-size: cover;
	background-position: 50% 90%;
}

.jumbotron {
	background-color : transparent;
	font-family: 'Ranga', cursive;
} 

.jumbotron h1{
	font-size: 900%;
	color: #EC971F;
	background: -webkit-linear-gradient(#efbf56, #ea3f20);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.jumbotron h2{
	color: #EC971F;
	text-shadow:-1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.page-header{
	padding:0;
}

.bodyBlock {
	background-color: black;
}
.row {
  margin: 30px 0; }